[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-experimental = "*"
neo4j = "*"
python-dotenv = "*"
langchain-fireworks = "*"
numpy = "*"
pandas = "*"
langchain-core = "*"
langchain-google-vertexai = "*"
tenacity = "*"
llama-index = "*"
transformers = "*"
pyvis = "*"
networkx = "*"
pathway = "*"
tf-keras = "*"
llama-index-core = "*"
llama-index-llms-openai = "*"
llama-index-embeddings-openai = "*"
install = "*"
ipython-ngql = "*"
torch = "*"
llama-index-graph-stores-nebula = "*"
nebula3-python = "*"
spacy = "*"
llama-index-agent-openai = "*"
python-slugify = "*"
streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"

[scripts]
app = "streamlit run Home.py"